<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleIcons</key>
<dict>
    <key>CFBundlePrimaryIcon</key>
    <dict>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>  <key>CFBundleIconFiles</key>
        <array>
            <string>AppIcon-20@2x.png</string>  
						<string>AppIcon-20@2x~ipad.png</string>  
						<string>AppIcon-20@3x.png</string>  
						<string>AppIcon-20~ipad.png</string>  
						<string>AppIcon-29.png</string>  
						<string>AppIcon-29@2x.png</string>  
						<string>AppIcon-29@2x~ipad.png</string>  
						<string>AppIcon-29@3x.png</string>  
						<string>AppIcon-29~ipad.png</string>  
						<string>AppIcon-40@2x.png</string>  
						<string>AppIcon-40@2x~ipad.png</string>
						<string>AppIcon-40@3x.png</string>
						<string>AppIcon-40~ipad.png</string>
						<string>AppIcon-60@2x~car.png</string>
						<string>AppIcon-60@3x~car.png</string>
						<string>AppIcon-83.5@2x~ipad.png</string>  
						<string>AppIcon@2x.png</string>
						<string>AppIcon@2x~ipad.png</string>
						<string>AppIcon@3x.png</string>
						<string>AppIcon~ios-marketing.png</string>
						<string>AppIcon~ipad.png</string>
						</array>
    </dict>
</dict>
</dict>
</plist>
